.case-row-heading {
    font-weight: bold;
}

.target-row {
    height: 60px;
}

.target {
    border: 2px solid black;
    width: 120px;
    text-align: center;
}

.hot-target {
    border: 2px solid limegreen;
}

.erroneous {
    background-color: salmon;
}

.the-pile {
    border: 1px solid black;
    width: 240px;
    text-align: center;
}

.source {
    border: 1px solid black;
}
