.case-row-heading {
    font-weight: bold;
}

.target-row {
    height: 60px;
}

.target {
    border: 2px solid black;
    width: 120px;
    text-align: center;
}

.hot {
    border: 2px solid limegreen;
}

.erroneous {
    background-color: salmon;
}

.pile {
    border: 1px solid black;
    width: 240px;
    text-align: center;
}

.tile {
    border: 1px solid black;
}

.assigned {
    opacity: 0.5;
}

.hidden {
    display: none;
}
